streamlit==1.12.0
streamlit-chat==0.0.2.1
SQLAlchemy==1.4.32
Unidecode==1.2.0
urllib3==1.26.9
openai==0.26.1
openpyxl==3.0.9
packaging==21.3
pandas==1.4.2
scikit-image==0.19.2
pywin32==302
pywin32-ctypes==0.2.0
pywinpty==2.0.2
PyYAML==6.0